* {
    box-sizing: border-box; 
    /*para que los estilos no crezcan mas de lo dicho */
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: white;
    margin-top: 0;
    display: flex;
}

.img1 {
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.primerDiv {
    display: flex;
    font-size: 2em;
    align-items: center;
}

.separation { 
    padding-left: 2em;
    display: flex;
}

/* form {
    display: flex;
    justify-content: Center
    /* float: right;
    position: absolute; */
    /* right: 1%;
    top: 5%; 

} */

.last-links {
    display: flex;
    padding-top: 14px;
    padding-left: 6em;
}

.last-links a {
    color: rgb(37, 78, 37);
    font-family: Arial,sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.last-links a:hover {
    color: #4CAF50;
}

.dropdown {
    float: left;
    overflow: hidden;
    text-align: left;
}

.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: rgb(37, 78, 37);
    padding: 14px 16px;
    font-family: Arial,sans-serif;
    margin: 0;
    display: flex;
}

.dropdown .dropbtn:hover {
    color: #4CAF50;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.5em;
}

.dropdown .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    display: flex;
}

.dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 1em;
}

.spacer {
    width: 16px;
    padding-left: 6em;
}

input[type="search"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    width: 50%;
}

/* .search_form {
    padding-top: 25px;
} */

input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: rgb(37, 78, 37);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*Carrucel*/

.carousel{
    display: flex;
    flex-direction: row;
    animation: slide 5s infinite alternate;
    width: 100%;
    justify-content: center;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item  {
    opacity: 1;
}

.carousel-buttons{
    padding: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    gap: 10px;
}

.carousel-buttons label{
    width: 20px;
    height: 20px;
    background-color: rgb(205, 36, 36);
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
} 

.carousel-buttons label:hover{
    scale: 1.2;
    opacity: 1;
}

input[type='radio'].controller:checked

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 2 --> .carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    animation: slide 5s infinite alternate;
  }
  
  .carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */


  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin-left: 5px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

footer {
    color: white;
    background-color: rgb(37, 78, 37);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

footer a {
    color: white;
    font-size: 1.5em;
}

footer a:hover {
    color: grey;
}

.redes-sociales{
    justify-content: left;
}


.container{
    max-width: 1350px;
    margin:auto;
    padding: 20px;
    justify-content: center;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
    flex-direction: column;
    height: 90vh;
    background-image: url('/Proyecto Final/img/capeletis.jpg'); /*para vincular con una imagen de afuera*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#form-registro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
